---
title: Middleman is Watching
body_class: index
---

#main
  %hgroup
    %h1 Interlace
    %h3 Sexy tag line

  %h2.uses Uses
  %p
    Interlace takes an unconventional approach to video production and consumption.
    It effectively allows you to consume days of video in minutes.
    This qualitatively changes the way you can work with video and facilitates work that conventional video editors and viewers do not.
  %h3 Conference recordings
  %h3 Splitting up a video stream
  %h3 &amp;c.

  %h2.process Process
  %h3 Ingest
  %p Interlace imports videos from a live stream or from files.
  %img{ :alt => 'Fancy image here' }
  %h3 View, structure and enrich
  %p Once the video is in Interlace, people can collaboratively watch and edit the video.
